.popup__error {
    margin-top: 5px;
    margin-bottom: 13px;
    display: inline-block;
    min-height: 12px;
    max-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000; 
}