.profile__avatar-button {
    position: relative;
    padding: 0;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;
}

.profile__avatar-button:hover {
    cursor: pointer;
}