.popup__input {
    box-sizing:border-box;
    width: 100%;
    padding: 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.popup__input:focus {
    outline: 0;
}

.popup__input:first-of-type {
    margin-bottom: 30px;
}