.popup__container {
    box-sizing: border-box;
    width: 100%;
    max-width: 430px;
    background-color: #fff;
    padding: 36px;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 568px) {
    .popup__container {
        padding: 25px 22px;
    }
}