.header__logo {
    width: 142px;
    height: 33px;  
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 984px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 568px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
}