.footer {
    margin-top: 66px;
    margin-bottom: 60px;
}

@media screen and (max-width: 984px) {
    .footer {
        padding: 0 27px;
    }
}


@media screen and (max-width: 568px) {
    .footer {
        padding: 0 19px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}