.popup__close-button {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: calc(-32px - 8px);
    right: calc(-32px - 8px);
    opacity: 1;
    transition: opacity ease-in .2s;
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 568px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        bottom: calc(336px + 16px);
    }
}