.profile__more-info {
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 720px) {
    .profile__more-info {
        margin: 0 auto;
        margin-top: 14px;
    }
}

@media screen and (max-width: 568px) {
    .profile__more-info {
        font-size: 14px;
        line-height: 17px;
    }
}