.profile__info-first-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 568px) {
    .profile__info-first-line {
        justify-content: center;
    }
}