.element__remove-button {
    padding: 0;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    background: url("../../../images/trash-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    opacity: 1;
    transition: opacity ease-in .2s;
}

.element__remove-button:hover {
    opacity: .5;
    cursor: pointer;
}